# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env files - ¡JAMÁS SUBIR ESTO A GITHUB! Contiene contraseñas
.env
.env*.local
.env.production



# logs
*.log
dev.log
server.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
.idea/
*.swp
*.swo
